{% extends 'base.html' %}{% block content %}
<div class="card">
    <h2>Employee Login</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for cat,msg in messages %}
    <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form method="post" class="form"><label>Email</label><input name="email" type="email" required><label>Password</label>
        <input name="password" type="password" required>
        <div class="form-row">
            <button class="btn primary" type="submit">Login as Employee</button>
            <a class="btn ghost" href="{{ url_for('index') }}">Back</a>
        </div>
    </form>
</div>
{% endblock %}